@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Playfair+Display:ital@1&display=swap');

/* 전체설정 */
* {margin: 0;
    padding: 0;}
ul {list-style: none;}
a {text-decoration: none;
    color: #414141;}
body {font-family: 'Noto Sans KR', sans-serif;
    /* font-family: 'Playfair Display', serif; */
    font-size: 16px;
    overflow-x: hidden;
}



/* header ------------------------------------------------------------------------------*/
/* 랜딩 기본 설정 */
header {width: 1920px;
    height: 1080px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden; 
}

h1 {width: 400px;
    position: absolute;
    top: 20px;
    /* 가운데 정렬 */
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;}
.gnb {position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 9;}
.menu {width: 10%;
        margin-left: 20px;
        color: #fff;
        font-size: 25px;
        cursor: pointer;}
.util {width: 10%;}       
.util ul {
        display: flex;
        justify-content: flex-end;
        justify-content: space-around;}
.util li {color: #fff;
        font-size: 20px;
        box-sizing: border-box;
        cursor: pointer;}



.landingTxt {width: 100%;
            position: absolute;
            display: flex;
            justify-content: space-around;
            bottom: 80px;
            left: 10%;
            cursor: pointer;
            z-index: 10;}
.landingTxt li {width: 260px;
                text-align: center;
                font-family: 'Playfair Display', serif;
                font-weight: bold;
                color: #fff;
                border-radius: 30px;
                border: 1px #fff solid;
                padding: 10px 30px;
                transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;}   
.landingTxt li>i {font-size: 1px;
                padding-right: 15px;
                padding-left: 15px;}  


/* 랜딩Txt hover 값 */
.landingTxt li:hover:nth-child(1) {box-shadow: 0 0 20px 20px #9C6DC7 inset;
                                border-color: #9C6DC7 ;
                                opacity: 0.8;}                
.landingTxt li:hover:nth-child(2) {box-shadow: 0 0 20px 20px #2076E8 inset;
                                opacity: 0.8;
                                border-color: #2076E8;}
.landingTxt li:hover:nth-child(3) {box-shadow: 0 0 20px 20px #F5A031 inset;
                                opacity: 0.8;
                                border-color: #F5A031;}


                                
/* 메뉴설정 */
.menu ul {width: 100px;
    display: none;}
.menu li {
        width: 100%;
        height: 30px;
        padding: 5px;
        margin-left: 10px;
        margin: 10px 0;
        box-sizing: border-box;
        transition: all 0.5s;}
.menu li a {display: block;
            font-size: 16px;
            color: #fff;
            font-family: 'Playfair Display', serif;}

/* menu hover 임시설정 */
.menu li:hover {border-bottom: #324267 solid 1px;}
.menu li:hover a {color: #324267;
        font-weight: bold;}
.menu:hover ul{display: block;}               


/* landing 구조 설정 */
.landing {width:3840px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;}
.landing ul {width: 1920px;
                height: 100%;
                position: relative;
                overflow: hidden;}
.landing li {width: 1920px;
                height: 100%;
                left: 100%;
                top: 0;
                position: absolute;}

.landing li:nth-child(1) {left: 0;}
.landing li:nth-child(2) {}
.landing li:nth-child(3) {}


.landing001 {width: 100%;
                height: 100%;
                position: relative;}
.landing001 img {width: 100%;
                height: 100%;
                object-fit: cover;}
.landing001::before {content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color:rgba(196, 196, 196, 0.9);
                /* z-index: -1; */}


.landing002 {width: 100%;
                height: 100%;
                position: relative;}
.landing002 img {width: 100%;
                height: 100%;
                object-fit: cover;}
.landing002::before {content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color:rgba(196, 196, 196, 0.9);
                /* z-index: -1; */}


.landing002 {width: 100%;
                height: 100%;
                position: relative;}
.landing002 img {width: 100%;
                height: 100%;
                object-fit: cover;}
.landing002::before {content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color:rgba(196, 196, 196, 0.9);
                /* z-index: -1; */}

.landing003 {width: 100%;
                height: 100%;
                position: relative;}
.landing003 img {width: 100%;
                height: 100%;
                object-fit: cover;}
.landing003::before {content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color:rgba(196, 196, 196, 0.9);
                /* z-index: -1; */}


/* landing display */
.landing .display {cursor: none;}

.cursor01 {
        position: absolute;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background: url(img/land001.jpg) center center;
        background-attachment: fixed;
        background-size: cover;
        border: 1px solid #fff;
        overflow: hidden;
        /* z-index: -1; */
        transition: 
                background-color .2s,
                border-color .2s,
                border-radius .2s,
                transform .6s;
        }

.cursor02 {
        position: absolute;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background: url(img/land002.jpg) center center;
        background-attachment: fixed;
        background-size: cover;
        border: 5px solid #fff;
        overflow: hidden;
        /* z-index: -1; */
        transition: 
                background-color .2s,
                border-color .2s,
                border-radius .2s,
                transform .6s;
        }

.cursor03 {
        position: absolute;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background: url(img/land003.jpg) center center;
        background-attachment: fixed;
        background-size: cover;
        border: 5px solid #fff;
        overflow: hidden;
        /* z-index: -1; */
        transition: 
                background-color .2s,
                border-color .2s,
                border-radius .2s,
                transform .6s;
        }







/* 랜딩 타이틀 설정 */
.display strong {color: #fff;
                font-size: 80px;
                font-family: 'Playfair Display', serif;}
.display em {color: #fff;
                font-size: 20px;
                font-style: normal;
                line-height: 35px;}
.display p {position: absolute;
        width: 1920px;
        height: 100%;}



/* 랜딩 타이틀 세부설정 */
.landing001 {position: relative;
                width: 1920px;
                height: 100%;}
.landing001 strong {position: absolute;
                top: 40%;
                left: 10%;
                color: #DDB7FF;
                font-weight: normal;
                z-index: 10;}
.landing001 em {position: absolute;
                top: 40%;
                right: 10%;
                /* z-index: -1; */}


.landing002 {position: relative;
                width: 1920px;
                height: 100%;}
.landing002 strong {position: absolute;
                top: 40%;
                left: 10%;
                color: #fff;
        
                z-index: 10;}
.landing002 em {position: absolute;
                font-size: 80px;
                font-family: 'Playfair Display', serif;
                font-weight: normal;
                color: #60BEFC;
                line-height: 100px;
                top: 50%;
                left: 10%;}


.landing003 {position: relative;
                width: 1920px;
                height: 100%;}
.landing003 strong {position: absolute;
                width: 500px;
                font-weight: normal;
                top: 30%;
                right: 5%;
                color: #F5A031;
        
                z-index: 10;}
.landing003 em {position: absolute;
                width: 500px;
                top: 55%;
                right: 5%;}





/* section ------------------------------------------------------------------------------*/
/* section 전체설정 */
#wrap {}
#wrap section {width: 1920px;
                height: 1000px;/* 임시설정 */
                color: #fff;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                overflow: hidden;
                }
#wrap section .top {position: absolute;
                width: 100%;
                height: 5px;
                top: 50px;
                border-bottom: 1px solid #fff;}
#wrap section .bottom {position: absolute;
                        width: 100%;
                        height: 5px;
                        bottom: 50px;
                        border-bottom: 1px solid #fff;}
#wrap section:nth-child(1) {background-color: #324267;}
#wrap section:nth-child(2) {background-color: #CAD0DF;}
#wrap section:nth-child(3) {
                                width: 1920px;}
#wrap section:nth-child(4) {background-color: #666;
                                width: 1920px;
                                height: 700px;}
#wrap section:nth-child(5) {background-color: #CAD0DF;}


/* sec01 세부 설정-------------------------------------------------------------------------- */
.sec01 {width: 1440px;
        height: 700px;
        margin-left: auto;
        margin-right: auto;
        position: relative;}
.section:nth-child(1) {position: relative;
overflow: hidden;}
.obj>img {position: absolute;
        width: 105%;
        left: -2%;
        bottom: -8%;
        overflow: hidden;}
.sec01_inner {position: absolute;
                display: flex;
                left: 0;
                top: 15%;
                width: 100%;
                height: 800px;
                z-index: 10;}  
.imgBox{position: relative;
        width: 50%;
        height: 100%;
        transform: translateX(600px);
        transition: all 0.5s;
        opacity: 0;}
.txtBox{width: 50%;
        height: 100%;
        position: relative;
        text-align: center;
        transform: translateX(-600px);
        transition: all 0.5s;
        opacity: 0;}

/* 이미지박스 */
.imgBox p {position: absolute;
        width: 200px;
        font-family: 'Playfair Display', serif;
        text-align: center;
        top: 27%;
        left: 50%;
        margin-left: -100px;}
.imgBox_inner{position: absolute;
        width: 60%;
        height: 85%;
        top: 10%;
        left: 50%;
        margin-left: -30%;
        transition: all 1.2s;
        }
.imgBox img {position: absolute;
        width:100%;
        cursor: pointer;}
.imgBox_inner:hover .sec01_img001 {opacity: 1;}
.sec01_img001 {opacity: 0;
        transition: all 0.8s;}
.logo {background-image: url(img/logo_w.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 30%;
        height: 40px;
        position: absolute;
        bottom: 30%;
        left: 35%;
        transition: all 0.8s;
        animation: logo 1.2s infinite ;}
@keyframes logo{
        0% {transform: scale(1);
        opacity: 1;}
        100% {transform: scale(1.2);
                opacity: 0.8;}
}

/* 텍스트박스 */
.txtBox h2 {font-size: 40px;
        width: 700px;
        height: 200px;
        position: absolute;
        top: 35%;
        left: 50%;
        margin-left: -350px;
        letter-spacing: 10px;
        display: none;}
.txt_cursor {display: inline-block;
        border-right: 3px solid #60BEFC;
        position: absolute;
        height: 40px;
        width: 700px;
        top: 37%;
        left: 3%;

        font-size: 40px;
        font-weight: bold;
        letter-spacing: 10px;

        animation: cursor 0.5s infinite;}
@keyframes cursor {
        0% {border-right: 3px solid #CAD0DF;}
        50% {border-right: 3px solid #414141;}
        100%{border-right: 3px solid #60BEFC;}
}


.txtBox p {position: absolute;
        width: 600px;
        height: auto;
        position: absolute;
        font-size: 12px;
        line-height: 20px;
        top: 55%;
        left: 50%;
        margin-left: -300px;}



section:nth-child(1).on .txtBox {
        transform: translateX(0);
        opacity: 1;
}
section:nth-child(1).on .imgBox {
        transform: translateX(0);
        opacity: 1;
} 


.back img {position: absolute;
        width: 1440px;
        height: auto;
        opacity: 0.5;
        display: none;
        }
        .p41 {bottom: -80px; right: 20px;}
        .p42 {bottom: -120px; right: 0px;}



/* sec02 세부 설정-------------------------------------------------------------------------- */
.sec02 {width: 1920px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;}
.sec02_out {width: 3840px;
                height: 100%;
                margin-left: auto;
                margin-right: auto;}

.sec02_article{width: 1920px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        transition: all 0.8s;}
.best {position: absolute;
        left: 100%;
        top: 0;
        overflow: hidden;}

/* article 설정 */
.sec02_inner {position: absolute;
                width: 1440px;
                height: 600px;
                top: 50%;
                left: 50%;
                margin-top: -350px;
                margin-left: -500px;
                display: flex;}
article {width: 300px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.3);
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 0.8s;
        margin-left: 30px;
        opacity: 0.8;}
article:nth-child(1){background-image: url(img/intro001.jpg);}
article:nth-child(2){background-image: url(img/intro002.jpg);
        top: -5%;}
article:nth-child(3){background-image: url(img/intro003.jpg);}

article h2 {position: absolute;
        width: 50px;
        height: 50px;
        background-color: #EAEEE1;
        border-radius: 50%;
        text-indent: -9999px;
        top: 36%;
        left: 50%;
        margin-left: -25px;
        cursor: pointer;
        transition: all 0.8s;
        animation: move 0.8s infinite alternate;}

@keyframes move {
        0%{transform: scale(1);
                opacity: 0.8;}
        50%{transform: scale(0.8);}
        100%{transform: scale(1.2);
                opacity: 1;}
}

article p{position: absolute;
        font-size: 14px;
        line-height: 25px;
        width: 250px;
        border-top: #EAEEE1 3px solid;
        padding-top: 40px;
        top: 40%;
        left: 50%;
        margin-left: -125px;
        text-align: center;}

/* article on값 */

article.on {background-image: none;
        transition: all 1.2s;
        transform: rotateY(360deg);}
article.on h2 {position: absolute;
        width: 200px;
        height: 200px;
        background-color: #EAEEE1;
        border-radius: 50%;
        background-image: url(img/Moonflower.png);
        background-position: center center;
        background-size: 100px;
        background-repeat: no-repeat;
        top: 20%;
        left: 50%;
        margin-left: -100px;
        text-indent: -9999px;
        animation: none;
        opacity: 1;}
article:nth-child(2).on h2{background-image: url(img/camomile.png);}
article:nth-child(3).on h2{background-image: url(img/White_Musk_Desktop.png);}

article.on p{position: absolute;
        font-size: 14px;
        line-height: 25px;
        width: 250px;
        top: 60%;
        left: 50%;
        margin-left: -125px;
        text-align: center;
        color: #414141;
        transition: all 0.8s;}


/* best 설정 */
.best {width: 1920px;
        height: 100%;
        background-color: #CAD0DF;
        background-image: url(img/obj.png);
        background-repeat: no-repeat;
        background-position: -20px 750px;
        overflow: hidden;
        transition: all 0.8s;}
.best_inner {position: absolute;
        width: 100%;
        height: 900px;
        top: 65%;
        left: 0;
        margin-top: -450px;}
.best_obj {display: flex;}
.best_nav {position: relative;
        width: 70%;
        height: 700px;
        justify-content: space-around;}
.best>p {font-size: 20px;
        position: absolute;
        top: 17%;
        left: 30%;}
.best>span {width: 72%;
        position: absolute;
        border-top: 1px #fff solid;
        top: 20%;
        right: 0;} 
.best>img {position: absolute;
        width: 30px;
        height: 30px;
        object-fit: contain;
        top: 18%;
        left: 27%;}


/*nav 설정  */
.best_nav {}
.best_nav ul {position: absolute;
        display: flex;
        width: 1100px;
        height: 350px;
        bottom: 10%;
        left: 16.5%;}
.best_nav li{text-align: center;
        width: 350px;
        height: 350px;
        margin-left: 50px;
        font-size: 22px;
        font-family: 'Playfair Display', serif;
        opacity: 1;
        cursor: pointer;
        z-index: 10;
        transition: all 0.8s;
        transform: translateY(0);}
.best_nav li>img {
        width: 300px;
        top: 0;}


/* hover값 */ 
.best_nav li.on{opacity: 0;
        transform: translateY(-70px);}
.best_top.on  {opacity: 1;
        transform: translateY(70px);}



.nav_inner{position: absolute;
        display: flex;
        bottom: 10%;
        left: 20%;
        width: 100%;}
.best_top {
        width: 300px;
        height: 500px;
        background-color: rgba(255, 255, 255, 0.6);
        margin-right: 70px;
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.8s;}
.best_top>nav {width: 260px;
        height: 460px;
        background-color: rgba(174, 174, 174, 0.4);
        border-radius: 30px;
        margin: 20px;
        position: relative;}    
.best_top:nth-child(1){top: 10%;}
                
.best_top>nav>p:nth-child(1){position: absolute;
        font-size: 14px;
        font-family: 'Playfair Display', serif;
        width: 50px;
        text-align: center;
        top: 8%;
        left: 50%;
        margin-left: -25px;}
.best_top>nav>p:nth-child(2){position: absolute;
        font-size: 18px;
        font-family: 'Playfair Display', serif;
        width: 200px;
        text-align: center;
        top: 15%;
        left: 50%;
        margin-left: -100px;}
.best_top>nav>p:nth-child(3){position: absolute;
        font-family: 'Playfair Display', serif;
        text-align: center;
        width: 100px;
        bottom: 5%;
        left: 26%;
        border: #fff 1px solid;
        border-radius: 30px;
        padding: 0px 15px;
        padding-bottom: 2px;}
nav>p>a {color: #fff;}
.best_top>nav>img{position: absolute;
        width: 300px;
        left: -6%;
        top: 20%;}

/* big img 설정 */
.best_inner{position: relative;}
.big_obj {width: 30%;
        height: 700px;}
.obj_inner{position: absolute;
        width: 1000px;
        height: 1000px;
        border-radius: 50%;
        top: -35%;
        transition: all 0.8s;}
.obj_inner>p {
        position: absolute;
        width: 1200px;
        height: 100%;
        transition: all 0.8s;
        opacity: 0;}
.obj_inner>p>img {width: 100%;
        position: absolute;}

.obj_inner>p:nth-child(1) {
        top: -50px;
        left: -170px;
        }
.obj_inner>p:nth-child(2) {
        top: 50px;
        left: -100px;
        transform: rotate(-120deg);
        }
.obj_inner>p:nth-child(3) {
        top: -50px;
        left: -30px;
        transform: rotate(120deg);
        }

.obj_inner>p.on{opacity: 1;}



/* 임시설정 
.obj_inner:hover {transform: rotate(120deg);}*/


/* 화살표 설정 */
.sec02_article .left {position: absolute;
        font-size: 50px;
        width: 50px;
        height: 50px;
        right: 10%;
        top: 45%;
        cursor: pointer;
        animation: ani3 ease-out 0.8s infinite;}

.best .right {position: absolute;
        font-size: 50px;
        width: 50px;
        height: 50px;
        left: 5%;
        top: 44%;
        border-color: transparent;
        cursor: pointer;
        animation: ani4 ease-out 0.8s infinite;}



@keyframes ani3 {
        0% {right: 70px;
                transform: scale(1);
                opacity: 1;}
        100% {right: 30px;
                transform: scale(1.5);
                opacity: 0;}
}
@keyframes ani4 {
        0% {left: 70px;
                transform: scale(1);
                opacity: 1;}
        100% {left: 30px;
                transform: scale(1.5);
                opacity: 0;}
}

/* sec03 세부 설정-------------------------------------------------------------------------- */
.sec03 {position: relative;
        width: 1920px;
        height: 1000px;}
.product {width: 100%;
        height: 400px;
        position: relative;
        top: 80px;
        overflow: hidden;}
.product_inner{display: flex;
        width: 250%;}
.product ul{display: flex;
        width: 125%;
        position: absolute;}
.product li{width: 20%;
        height: 400px;
        margin-right: 5%;
        position: relative;
        transition: all 0.5s;}

.product ul:nth-child(1) {animation: ani1 100s linear infinite;}
.product ul:nth-child(2) {animation: ani2 100s linear infinite;}


@keyframes ani1 {
        0% {left: 0;}
        50% {left: -125%;}
        50.0001% {left: 125%;}
        100% {left: 0;}
}
@keyframes ani2 {
        0% {left: 125%;}
        50% {left: 0;}
        100% {left: -125%;}
}
/* 마우스 후버하였을 때 멈추어라 */
.product:hover ul:nth-child(1) {animation-play-state: paused;}
.product:hover ul:nth-child(2) {animation-play-state: paused;}




.product li span{position: absolute;
                width: 100%;
                height: 80%;
                cursor: pointer;
                box-sizing: border-box;}

.product span img {position: absolute;
        width: 70%;
        height: auto;
        bottom: 0;
        left: 15%;}
.product li p{position: absolute;
                width: 100%;
                height: 20%;
                bottom: 0;
                color: #414141;
                text-align: center;
                line-height: 40px;
                cursor: pointer;}
.product li i{font-size: 5px;
                padding-left: 20px;
                padding-right: 20px;}

.product ul:nth-child(1) li:nth-child(1) img {
        position: absolute;
        width: 40%;
        height: auto;
        top: 10%;
        left: 50%;
        margin-left: -20%;
        top: 27%;}
.product ul:nth-child(1) li:nth-child(4) img {
        position: absolute;
        width: 90%;
        height: auto;
        left: 4%;
        bottom: -17%;}
/* .product ul:nth-child(1) li:nth-child(4) img {
                position: absolute;
                width: 500px;
                height: auto;
                top: 0;
                margin-left: -20px;} */
        

#proI {position: absolute;
        width: 80px;
        height: 80px;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -40px;
        opacity: 0;
        transition: all 0.8s;}    
#proI i{display: block;
        background-color: rgba(225, 225, 225, 0.8);
        border-radius: 10px;
        font-size: 40px;
        padding: 20px;
        text-align: center;
        transition: all 0.5s;}


/* li 에 마우스를 후버하였을 때 */
.product li:hover {background-color: #CAD0DF;
                border-radius: 0 50% 0 50%;} 
.product li:hover #proI {opacity: 1;}
.product li #proI:hover i {color: #666;}




/* 스크롤바 설정 */
.scroll {position: absolute;
        width: 100%;
        bottom: 35%;
        border-bottom: 2px solid #AEAEAE;
        padding-top: 20px;
        padding-bottom: 20px;
        z-index: 10;
        transition: all0.8s;}
.bar {position: absolute;
        width: 200px;
        bottom: -5px;
        left: 0;
        border-bottom: 8px solid #949494;
        border-radius: 30px;
        z-index: 10;
        cursor: pointer;
        transition: all0.8s;}


/* 아이콘 */
#icon i {position: absolute;
        color:#CAD0DF;
        bottom: 5%;
        left: 50%;
        margin-left: -40px;
        margin-bottom: 7%;
        font-size: 80px;
        cursor: pointer;}








/* sec04 세부 설정-------------------------------------------------------------------------- */
section:nth-child(4) {position: relative;
                        width:1920px;
                        height: 700px;}
section:nth-child(4) .vid {position: absolute;
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        object-fit: cover;
                        }




/* sec05 세부 설정-------------------------------------------------------------------------- */
section:nth-child(5) {position: relative;}
.sec05 {width: 1440px;
        height: 1000px;
        position: absolute;
        left: 50%;
        margin-left: -720px;
        position: relative;}

.sec05_inner {position: absolute;
                width: 100%;
                height: auto;
                top: 40%;
                left: 0;
                text-align: center;}

.sec05 img {margin-bottom: 20px;}
.sec05 p {line-height: 35px;
        color: #2D2D2D;
        font-size: 20px;}
.sec05_icon {position: absolute;
        color: #2D2D2D;
        width: 1440px;
        height: 24px;
        top: 10%;
        left: 0;}

.sec05 i:nth-child(1) {position: absolute;
                left: 33%;}
.sec05 i:nth-child(2) {position: absolute;
                right: 33%;}

#left {width: 700px;
        height: 700px;
        background-image: url(img/Camomile001.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        bottom: 0;
        left: -5%;}
#right {width: 700px;
        height: 700px;
        background-image: url(img/Camomile002.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: -5%;
        right: 0;}




/* footer ------------------------------------------------------------------------------*/
.footer {width: 1920px;
        height: 400px;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        background-color: #343434;
        position: relative;}

.footer p {width: 100%;
        height: auto;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        position: absolute;
        top: 50%;}





/* 미디어쿼리 설정 */
/* 1500px 이상일때 설정########################################################### */
@media(min-width:1500px){

    /* 전체 가로화면 설정 */
    .landingTxt
    {width: 1440px;
    left: 50%;
    margin-left: -720px;}
    
    
    }





